{% extends 'base.html.twig' %}

{% block title %}Edit Anime{% endblock %}

{% block body %}
    <h1>Edit Anime</h1>

    {{ include('anime/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('anime/_delete_form.html.twig') }}
    <a href="{{ path('app_anime_index') }}"class="btn btn-primary mt-4">back to list</a>
{% endblock %}
