<header>
    <div class="nav container">
        <i class='bx bx-menu' id="menu-icon"></i>
        <a href="#" class="logo">Anime<span>4me</span></a>
        <ul class="navbar">
            <li><a href="{{path('app_animelist')}}" class="active">Home</a></li>
            <li><a href="#anime">Anime</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </ul>
    <i class='bx bx-search' id="search-icon" style="color:white"></i>
    <div class="search-box container">
        <input type="search" name="" id="" placeholder="Search here...">
        <button class="btn" onclick="search()" style="
        position: absolute;
        top: 50%;
        right: 0;
        height:65px;
        padding-left:50px;
        transform: translateY(-50%);
        background:red;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
        border: 1px solid red;
        border-top-right-radius: 0.5rem; /* Adjust the value to your desired radius */
        border-bottom-right-radius: 0.5rem; 
        padding: 0.5rem 1rem;
    ">Search</button>
    
    </div>
</header>